<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="<% settings.charset %>">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
  <title><% title %></title>
  <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  </head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

  <link rel="stylesheet" href="<% request.uri_base %>/css/style.css">
<body>

<nav class="navbar navbar-expand-lg bg-body-tertiary navbar bg-primary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img draggable="false" alt="logo" src="<% request.uri_base %>/images/headshot.png" width="30" height="24" class="d-inline-block align-text-top headshot">
      Ian Kopke
    </a>
    <button class="nav-item">test</button>
    <div class="d-flex me-2" >
      <li class="nav-item">
        <a class="nav-link active" href="/about" style="color:white">About Me</a>
      </li>
    </div>
  </div>
</nav>
   <script>
    document.
   </script>

  <main>

    <% content %>

  </main>
  <footer id="footer" class="pt-6 my-5 text-muted border-top">
	Created by Ian Kopke using <a target="_blank" href="https://metacpan.org/dist/Dancer2">Dancer2</a>, Version: <% version %>
	<a target="_blank" href="github.com/ikopke23/KopkeWeb"> Source Code </a>
  </footer>

  </body>
</html>
